{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mundo Estadistico</title>
    <link rel="stylesheet" href="{% static 'css-Web/INICIO/css/codigos.css' %}">
    <link rel="stylesheet" href="{% static 'css-Web/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css-Web/bootstrap/css/index.css' %}">
    <script src="{% static 'css-Web/bootstrap/js/jquery.js' %}"></script>
    <script src="{% static 'css-Web/bootstrap/js/bootstrap.min.js' %}"></script>
    <link rel="icon" href="../static/img-web/ICON/logo1.png">
  </head>

  <body >
    <div class="container">
      <div class="row">
        <div class="col-md-12" id="sup">
          <center> <h5>BIENVENIDO AL MUNDO ESTADISTICO</h5> </center>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12"id="inf">
          <ul>
            <li>Un lugar donde podras ganar conociminetos, destacar, ayudar sobre la estadistica sin temor a equivocarte.</li>
            <li>Conocer verdaderos profesionales dedicados a su carrera. </li>
            <li>Podrás encontrar multiples herramientas estadisticas gratuitos para el uso profesional, estas irán aumentando y siendo implementadas durante el transcurso del tiempo. </li>
          </ul>
          <p><div class="">
            <center><button type="button" name="button"><a href="Informacion">Comenzar</a></button>
          </div></p>
        </div>
      </div>
    </div>

  </body>

</html>
