{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Recuperar contraseña</title>
    <link rel="stylesheet" href="{% static 'css-Web/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css-Web/RECOVER/css/recover.css' %}">
    <script src="{% static 'css-Web/bootstrap/js/jquery.js' %}"></script>
    <script src="{% static 'css-Web/bootstrap/js/bootstrap.min.js' %}"></script>
    <link rel="icon" href="../static/img-web/ICON/logo1.png">
  </head>

  <body >
      <header>
        <div class="container-fluid">
          <div class="row" id="row">
            <div class="col-md-12">

            </div>
          </div>
        </div>
      </header>
      <div class="container">
        <div class="row" id="p">
          <div class="col-md-6">
              <center><input type="text" name="select" value="" placeholder="numero celular o correo electronico"> <button id="button1"type="button" name="select">selecione</button>
          </div>
          <div class="col-md-3">
          </div>
          <div class="col-md-3">
          </div>
        </div>
      </div>


  </body>

</html>
